.App {
  text-align: center;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F6F6F6;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t1 {
    font-size: 14px;
    margin: 0px;
}

.t2 {
    font-size: 18px;
    margin: 0px;
}

.t3 {
    font-size: 22px;
    margin: 0px;
}


.t4 {
    font-size: 24px;
    margin: 0px;
}


.t5 {
    font-size: 28px;
    margin: 0px;
}

.t6 {
    font-size: 32px;
    margin: 0px;
}

@media only screen and (max-width: 1000px) {
  .t1 {
    font-size: 9px;
  }

  .t2 {
    font-size: 11px;
  }


  .t3 {
    font-size: 12px;
  }

  .t4 {
    font-size: 14px;
  }

  .t5 {
    font-size: 16px;
  }

  .t6 {
    font-size: 18px;
  }
}
